.body{
    padding: 1%  5%;
    padding-top: 110px;
}

.paragraph{
    text-align: left;
}

.concept-list {
    display: flex;
    justify-content: center;
}

.learning-list{
    display: flex;
    justify-content: center
}

.li-list{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

.hero-image{
    width: 100%;
}

/* @media only screen and (max-width: 425px){
    .bio-body{
    }
} */
