.body{
    padding: 1%  5%;
    padding-top: 110px;
}

.paragraph{
    text-align: left;
}

.concept-list {
    display: flex;
    justify-content: center;
}

.concept-list-1{
    padding-top: 65px;
}

.learning-list{
    display: flex;
    justify-content: center
}

.li-list{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

.hero-image{
    width: 100%;
}
.titles{
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.titles-and-my-self-img{
    display: flex;
    flex-direction: row;
    height: 185px;
    justify-content: space-between;
}

#self-img{
    height: 184%;
    padding: 10px 0;
}
