@import url('https://fonts.googleapis.com/css?family=Roboto');

.construction-text{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.icon-cluster{
    display: flex;
    justify-content: center;
}

.icon{
    width: 100%;
    height: auto;
    padding: 25px;
}

.construction-container{
    align-content: center;
    padding: 0 10%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

section{
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
}

#self{
    width: 33%;
    height: auto;
    margin-top: 18%;
}
#speech-bubble{
    width: 51%;
    height: auto;
    z-index: -1;
}

@media only screen and (max-width: 425px){
    .icon{
        width: 80%;
        height: auto;
        padding-top: 20px;
    }
    .icon-cluster{
        display: flex;
        justify-content: space-evenly;
    }
    section{
        flex-direction: column;
        padding-top: 0px;
    }

}