.video-container{
    width: 100%;
    height: auto;
    background-color: #5E5759;
    outline: solid #BDD990
}

.background-and-border{
    width: 100%;
    height: auto;
    padding: 1px 6px;
    margin-top: 5px;
}