.title{
    left: 50px;
}
.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #eaeaeb;
    height: 70px;
    padding: 0 10%
}
.nav-container{
    display: flex;
    justify-content: space-between;
    text-align: right;
}

#nm-logo{
    height: 54px;
    margin: 10px 0px;
}

.a-text{ 
    margin: 2px;
    padding: 21px 0 0 21px;
    font-size: 2rem;
    text-decoration: none;
}
