.title{
    left: 50px;
}
.header-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border-bottom: 1px solid #BDD990;
    height: 100px;
    width: 100%;
    padding: 0 5%;
    position: fixed;
    background-color: #22181C;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    text-align: right;
    color: aliceblue;
}

ul{
    list-style: none;
}

#nm-logo{
    height: 199px;
    margin: -38px -54px;
    padding: 0;
}

.a-text{ 
    display: flex;
    justify-content: space-evenly;
    margin: 28px 0px 18px 2px;
    padding: 12px 0 0 0px;
    font-size: 2rem;
    text-decoration: none;
    color: white;
    background-color: #5e5759;
    width: 100px;
    height: 50px;
}

@media only screen and (max-width: 425px){
    #nm-logo{
        height: 54px;
    }
    .header-container{
        height: 70px;
    }
    .a-text{
        padding: 21px 0 0 21px;
    }
}
