.title{
    left: 50px;
}
.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #eaeaeb;
    height: 100px;
    width: 100%;
    padding: 0 5%;
    position: fixed;
    background-color: white;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    text-align: right;
}

#nm-logo{
    height: 80px;
    margin: 10px 0px;
}

.a-text{ 
    margin: 2px;
    padding: 40px 0 0 21px;
    font-size: 2rem;
    text-decoration: none;
}

@media only screen and (max-width: 425px){
    #nm-logo{
        height: 54px;
    }
    .header-container{
        height: 70px;
    }
    .a-text{
        padding: 21px 0 0 21px;
    }
}
