.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card{
    width: 44%;
    margin: 0px;
    margin-top: 25px;
    width: 45%;
    height: auto;
    background-color: #5E5759;
    outline: solid #BDD990;
    margin-bottom: 70px;
}
.img-container{
    display: flex;
    background-color: black;
    height: 200px;
}
.project-img{
    width: auto;
    height: 100%;
    border-radius: 13px;
    overflow: hidden;
    padding: 10px;
}

.sections-container{
    display: flex;
    justify-content: space-evenly;
    height: 300px;
    width: auto;
}

.left-card-section{
    height: 100%;
    width: 284%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.project-name{
    height: 30px;
}

.right-card-section{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 210%;
}

.project-description, .project-tech{
    height: 16rem;
    overflow: scroll;
}

@media only screen and (max-width: 1024px){

}

@media only screen and (max-width: 768px){

}

@media only screen and (max-width: 425px){

}

@media only screen and (max-width: 320px){
 
}